<h2>Order {{model.id}} for {{model.name}}</h2>
<ul>
{{#each model.items as |item|}}
<li>
  <p>{{item.product.title}} - {{item.quantity}}</p>
</li>
{{/each}}
</ul>
{{important-value items=model.items}}