<div style="width: 300px; display: block; float: left;">
<h2>Orders</h2>
{{#each model as |order|}}
{{#ui-accordion class="styled"}}
  <div class="title">
  	<p>Order {{order.id}} for {{order.name}}</p>
  </div>
  <div class="content">
  	<ul>
  	{{#each order.items as |item|}}
		<li>
			<p>{{item.product.title}} - {{item.quantity}}</p>
		</li>
  	{{/each}}
  	</ul>
	{{#link-to 'orders.order' order}}Go to order{{/link-to}}
  </div>
{{/ui-accordion}}
{{/each}}
</div>
<div style="width: 300px; display: block; float: left;">
{{outlet}}
</div>